$color-contessa: #C97164;
$color-bright-gray: #303143;
$color-cadet-blue: #b3b8c2;
$color-quicksand: #b48c81;
$color-quarter-spanish-white : #F9F1E7;

$font-george-x: "George X";
$font-suisse-bp: "Suisse BP";

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
    "preloader",
    "navigation",
    "content",
    "canvas"
);