.preloader {
    @extend %center;
    @extend %cover;
    background: $color-contessa;
    color: $color-quarter-spanish-white;
    text-align: center;
    
    z-index: z("preloader");
}

.preloader_text {
    font-size: 0;
    max-width: 66rem;

    span {
        display: inline-block;
        overflow: hidden
    }

    span span {
        @extend %title-53;
    }
}

.preloader_number {
    @extend %description-14;

    position: absolute;
    overflow: hidden;
    bottom: 7.3rem;
    left: 50%;
    transform: translateX(-50%);

    @include media("<phone") { 
        font-size: 2.4rem;
    }
}

.preloader_number_text {
    display: inline-block;
}

// COMPLETE